<mat-toolbar color="primary" class="mat-elevation-z8">
  <mat-icon color="black" routerLink="/main">poll</mat-icon>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <div>
    <button mat-button routerLink="/main">Home</button>
    <button mat-button routerLink="/buttons">Buttons & Bages</button>
    <button mat-button routerLink="/spinner">Spinner</button>
    <button mat-button routerLink="/livesearch">Livesearch</button>
  </div>
</mat-toolbar >

<router-outlet></router-outlet>
