<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/buttons">Buttons</a>
      <a mat-list-item href="#">spinners</a>
      <mat-list-item>Item 1</mat-list-item>
      <mat-list-item>Item 2</mat-list-item>
      <mat-list-item>Item 3</mat-list-item>
    </mat-list>

  </mat-sidenav>
  <mat-sidenav-content>
  <button (click)="opened = !opened">Toggle Open</button>
    <br><br>
    <mat-button-toggle (click)="opened = !opened">Toggle</mat-button-toggle>
    {{opened}}
    <br><br>
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    <div class="ex-container">

      <mat-progress-spinner value="40"></mat-progress-spinner>


      <mat-spinner *ngIf="showSpinner"></mat-spinner>
      <button (click)="loadData()">Load Data</button>

    </div>

    <div class="ex-container">
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="subMenu">FrontEnd</button>
        <button mat-menu-item>BackEnd</button>
      </mat-menu>

      <button mat-flat-button [mat-menu-trigger-for]="appMenu">Menu</button>



      <mat-menu #subMenu="matMenu">
        <button mat-menu-item>Angular</button>
        <button mat-menu-item>React</button>
        <button mat-menu-item>Vue</button>
      </mat-menu>
    </div>

    <div class="ex-container">
      <mat-accordion multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Header1
            </mat-panel-title>
            <mat-panel-description>
              Total Duration: 3 hours
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>askjhks dfh ksd hfkjdshf </p>
          <mat-action-row>
            <button mat-button>Enroll</button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Header2
            </mat-panel-title>
            <mat-panel-description>
              Total Duration: 2 hours
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>askjhks dfh ksd hfkjdshf </p>
          <mat-action-row>
            <button mat-button>Enroll</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


