/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container{
  margin: 0 auto;
  padding: 30px 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.ex-container{
  margin: 30px auto;
  max-width: 1170px;
  padding: 0 15px;
}
